.pai{
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}
.filho{
    max-width: 300px;
    height: 300px;
}

@media screen and (max-width:1024px) {
    .pai{
        flex-direction: column;
    }
    .filho{
     max-width: 100%;
    }
}